<h1>Lists</h1>

<%= link_to 'New List', new_list_path %>

<div class="cards">
  <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
          <% if list.photo.attached? %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>')">
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://picsum.photos/200/300')">
          <% end %>
            <%= list.name %>
          </div>
      <% end %>
  <% end %>
</div>
