<h1>Lists</h1>

<%= link_to 'New List', new_list_path %>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list_path(list) do %>
        <% if list.image.attached? %>
          <%= image_tag list.image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
        <%= list.name %>
      <% end %>
    </li>
  <% end %>
</ul>
